@import "_styleVar.scss";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box; /*elementos que no se salen del contenedor*/
  font-family: "Sen", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.cont-padding {
  padding: 20px 0px;
}

.bg-grey {
  background-color: map-get($colors, second);
}

.bg-lightGrey {
  background-color: map-get($colors, first);
}

.font-abril {
  font-family: $font-abril;
}

.font-sent {
  font-family: $font-sent;
}

.iframe {
  width: 100%;
}

.w-full {
  width: 100%;
}

.big-text {
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  margin: 32px 48px;
}

.bg-grey {
  background-color: map-get($colors, second);
}

.bg-lightGrey {
  background-color: #e6e6e6;
}

.tittleAnimation {
  animation-name: zoom;
  animation-duration: 1s;
  animation-iteration-count: 4;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-delay: 0.25s;
  text-align: center;
}

@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1.25, 1.25);
  }
}

.bg-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: grayscale(100);
}

.bg-home {
  background-image: url(../IMG/bg/hdbg3.jpg);
  @extend .bg-header;
}

.bg-shop {
  background-image: url(../IMG/bg/hdbg2.jpg);
  @extend .bg-header;
}

.bg-locales {
  background-image: url(../IMG/bg/hdbg6.jpg);
  @extend .bg-header;
}

.bg-servicios {
  background-image: url(../IMG/bg/hdbg7.jpg);
  @extend .bg-header;
}

.bg-registro {
  background-image: url(../IMG/bg/hdbg1.jpg);
  @extend .bg-header;
}

.div-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 15px;
  height: 600px;

  h1 {
    font-size: 30px;
    position: relative;
    z-index: 1;
    font-weight: bolder;
  }

  p {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 16px;
    margin-right: 16px;
    color: map-get($colors, fifth);
    font-style: italic;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;

  nav {
    width: 100%;
    position: relative;
    z-index: 2;

    .menu {
      float: right;
      margin-right: 20px;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #e6e6e6;
      top: 0;
      left: -100%;
      text-align: center;
      transition: all 0.5s;

      > li {
        line-height: 80px;
        margin: 0 5px;
        display: block;
        margin: 50px 0;
        line-height: 30px; /*espacion entre elementos */

        a {
          color: map-get($colors, fifth);
          font-size: 20px;
          padding: 7px 13px; /* arriba y abajo 7, izq y derecha 13*/
          border-radius: 4px;
          text-decoration: none;
          &:hover {
            background-color: #e6e6e6;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

li a:hover,
li a.active {
  background: none;
}
#check:checked ~ ul {
  left: 0; /*que ya no este oculto, que se muestre*/
}

.enlaceLogo {
  position: absolute;
  padding: 8px 16px;
}

.logo {
  width: 80px;
  height: 80px;
}

.BarsIcon {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
  color: map-get($colors, fifth);
}

.checkbtn {
  float: right;
  line-height: 100px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

#check {
  display: none;
}

.furnitureIcons {
  height: 80px;
  width: 80px;
  margin: 8px 8px;
}

.furnitureIcons-text {
  margin: 8px 8px;
  font-size: 10px;
  color: map-get($colors, fifth);
  font-weight: 100;
}

.iframe {
  height: 120px;
  width: 250px;
}

.iframeTittle {
  font-size: 20px;
  color: map-get($colors, fifth);
  font-weight: bold;
}

.flex-RegisterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: map-get($colors, first);
  padding: 8px 16px 8px 16px;
  box-sizing: border-box;
}

.forms {
  background-color: map-get($colors, third);
  text-align: left;
  color: map-get($colors, fifth);
  border: 1px solid map-get($colors, fifth);
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  div {
    margin-bottom: 4px;
  }
  .forms-tittle {
    font-style: 12px;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;

    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.formsButtons {
  /* Botones Formularios */
  @include btn-style(center, 6px, 16px);
  background: transparent;
  border: 2px solid map-get($colors, fifth);
  color: map-get($colors, fifth);
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  background-color: map-get($colors, fourth);
  color: map-get($colors, fifth);

  transition: map-get($colors, fourth) 0.5s;
}

.formInput {
  margin: 4px 8px;
  height: 17px;
  border: 1px solid map-get($colors, fifth);
}

.formsButtons:hover {
  border-color: map-get($colors, fourth);
  background-color: white;
}

.imgLocales {
  height: 250px;
  width: 250px;
  margin: 8px 16px;
}

.table-mobile {
  width: 100%;
  margin: 2px 4px;
  padding: 2px 4px;
}

.grid-shopProducts {
  width: 200px;
  height: 250px;
  margin: 8px 16px;
}

.furnitureIcons {
  height: 100px;
  width: 100px;
}

.furnitureIcons-text {
  margin: 8px;
  font-size: 20px;
  color: map-get($colors, fifth);
}

.table-margin {
  margin: 8px 16px;
  padding: 4px 8px;
}

.locales {
  .localNames {
    text-align: left;
    font-family: "Abril Fatface" !important;
    font-size: 35px;
    font-weight: 400;
    padding: 0px 16px;
  }

  p {
    padding: 0px 16px;
  }
}

footer {
  padding: 4px 4px;
  a {
    text-decoration: none;
    color: black;
    .redes {
      width: 50px;
      height: 50px;
      margin: 4px 4px;
      p {
        font-size: 12px;
        font-weight: 200;
        text-align: center;
        color: map-get($colors, fifth);
      }
    }
  }
}
/*tablet */
@media screen and (min-width: 768px) {
  .iframe {
    width: 700px;
    height: 350px;
    padding: 16px 32px;
  }

  .div-text {
    width: 100%;
    justify-content: center;
    height: 650px;
    h1 {
      font-size: 60px;
      font-weight: bolder;
    }
    p {
      font-size: 40px;
      font-weight: 100;
      font-style: italic;
    }
  }

  .furnitureIcons {
    height: 150px;
    width: 150px;
    margin: 16px 32px;
  }

  .iframeTittle {
    font-size: 40px;
  }

  .grid-shopProducts {
    width: 250px;
    height: 300px;
    margin: 8px 16px;
  }

  .imgLocales {
    height: 400px;
    width: 400px;
    margin: 8px 16px;
  }

  footer {
    padding: 4px 4px;
    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
      .redes {
        width: 80px;
        height: 80px;
        p {
          font-size: 28px;
          font-weight: 200;
          text-align: center;
          color: map-get($colors, fifth);
        }
      }
    }
  }
}

/*desktop*/
@media screen and (min-width: 1200px) {
  .checkbtn {
    display: none;
  }

  .div-text {
    h1 {
      font-size: 60px;
    }
  }

  header {
    a {
      .logo {
        width: 160px;
        height: 160px;
        padding: 16px 24px;
      }
    }

    nav {
      width: 100%;

      .menu {
        float: right;
        margin: 0;
        height: auto;
        width: auto;
        position: initial;
        background: none;

        > li {
          display: inline;
          margin: 0;

          a {
            color: map-get($colors, fifth);
            font-size: 25px;
            padding: 16px 32px;
          }
        }
      }
    }
  }

  .forms {
    padding: 16px 32px;
    text-align: left;
    font-size: 20px;
    h2 {
      font-size: 25px;
    }
    div {
      margin-bottom: 8px;
    }
    .formInput {
      height: 20px;
      font-size: 15px;
    }
  }

  .formsButtons {
    &:hover {
      border-color: map-get($colors, fifth);
      background-color: white;
    }
  }

  .logInform {
    width: 75%;
    text-align: center;
  }

  .grid-shopProducts {
    width: 300px;
    height: 350px;
    margin: 16px 32px;
  }

  .redes {
    width: 40px;
    height: 40px;
  }
}
